@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.light{
    --text: #111111;
    --background: #f8f8f8;
    --bottonBorder: #1E1C1C;
    --footer-color: #ffffff;
}
.dark{
    --text:#f8f8f8;
    --background: #121212;
    --buttonBorder: #f8f8f8;
    --footer-color: #1f1f1f;
}
.App{
    background-color: var(--background);
    color: var(--text);
    width: 100%;
}